id: zeta
repeats: 3
base_config:
  model: zed-industries/zeta
  gpu: H100
  region: us-chicago-1
  data:
    - prompt_tokens=256,generated_tokens=4096
    - prompt_tokens=4096,generated_tokens=256
    - prompt_tokens=2048,generated_tokens=2048
  llm_server_config:
    tokenizer: Qwen/Qwen2.5-Coder-7B-Instruct
configs:
  - llm_server_type: sglang
  - llm_server_type: vllm
  - llm_server_type: tensorrt-llm
